### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [27]:
total_players = len(purchase_data["SN"].value_counts())
total_players

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [28]:
unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

summary_table = pd.DataFrame({"Unique Items":[unique_items],
                              "Average Price":[average_price],
                              "Number of Purchase":[number_of_purchases],
                              "Total Revenue":[total_revenue]})
summary_table
summary_table.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue': '${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [29]:
gender_var = purchase_data.groupby("Gender")
gender_count = gender_var.nunique()["SN"]
gender_count
percent_players = gender_count / total_players * 100
percent_players
gender_summary = pd.DataFrame({"Percentage of Players": percent_players, "Total Count": gender_count})
gender_summary

                       Percentage of Players  Total Count
Gender
Female                             14.062500           81
Male                               84.027778          484
Other / Non-Disclosed               1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
number_of_purchases_g = (gender_var["Purchase ID"]).count()
average_price_g = (gender_var["Price"]).mean()
total_revenue_g = (gender_var["Price"]).sum()
avg_purchase_g = total_revenue_g /gender_count
analysis_summary = pd.DataFrame({"Purchase Count": number_of_purchases_g, 
                                    "Average Purchase Price": average_price_g,
                                    "Average Purchase Value":avg_purchase_g,
                                    "Avg Purchase Total per Person": avg_purchase_g})

analysis_summary.index.name = "Gender"
analysis_summary.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})
analysis_summary

,Purchase Count,Average Purchase Price,Average Purchase Value,Avg Purchase Total per Person
Gender,,,,
Female,113,3.203009,4.468395,4.468395
Male,652,3.017853,4.065372,4.065372
Other / Non-Disclosed,15,3.346000,4.562727,4.562727

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [32]:
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_data

age_group = purchase_data.groupby("Age Group")

total_count_age = age_group["SN"].nunique()
 
percent_age = (total_count_age/total_players) * 100

age_summary = pd.DataFrame({"Percentage of Players": percent_age, "Total Count": total_count_age})

age_summary.index.name = None

age_summary.style.format({"Percentage of Players":"{:,.2f}"})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [33]:
purchase_count_age = age_group["Purchase ID"].count()

avg_purchase_price_age = age_group["Price"].mean()

total_purchase_value = age_group["Price"].sum()

avg_purchase_per_person_age = total_purchase_value/total_count_age

age_summary = pd.DataFrame({"Purchase Count": purchase_count_age,
                                 "Average Purchase Price": avg_purchase_price_age,
                                 "Total Purchase Value":total_purchase_value,
                                 "Average Purchase Total per Person": avg_purchase_per_person_age})

age_summary.index.name = None

age_summary.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [34]:
spender_info = purchase_data.groupby("SN")

purchase_spender_info = spender_info["Purchase ID"].count()

avg_price_spender_info = spender_info["Price"].mean()

purchase_total_spender_info = spender_info["Price"].sum()

top_spenders = pd.DataFrame({"Purchase Count": purchase_spender_info,
                             "Average Purchase Price": avg_price_spender_info,
                             "Total Purchase Value":purchase_total_spender_info})
 
clean_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()

clean_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [35]:
items = purchase_data[["Item ID", "Item Name", "Price"]]

item_groups = items.groupby(["Item ID","Item Name"])

purchase_count_item = item_groups["Price"].count()

purchase_value = (item_groups["Price"].sum()) 

item_price = purchase_value/purchase_count_item

most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})

popular_clean = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()

popular_clean.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [36]:
popular_clean = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
popular_clean.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

In [39]:
## 3 observable Trends

In [ ]:
# 1. girls spend more on games than boys. they also buy more per avg
# 2. people don't purchase as much after the age of 25
# 3. even thogh people don't buy as much after 25, they are still willing to pay the same, and in same cases, higher prices